In [1]:
getwd()

[1] "/home/langerjaros/Projects/learning/informatics/statistical_data_analysis/homeworks/05"

In [11]:
connection <- file('ufocase.dat.txt', open='r')

In [7]:
connection

A connection with
description "ufocase.dat.txt"
class       "file"
mode        "r"
text        "text"
opened      "opened"
can read    "yes"
can write   "no"

In [18]:
print(readLines(connection, n=5))

[1] "1952  Coast Guard UFO Photograph                           USA            0   1   0   0"
[2] "1952  Australian Seafury Incident                          Australia      1   0   0   0"
[3] "1952  The Florida Scoutmaster Encounter                    USA            1   0   0   0"
[4] "1952  Navy aviators encounter UFO                          Gnland         0   0   0   0"
[5] "1952  The Operation Mainbrace Sightings                    Den/Nor        0   0   0   0"

In [37]:
connection <- file("ufocase.dat", open = "r")

counter <- 1
m_ufocase <- NULL # proměnná, která bude odkazovat na naší matici
while (length(line <- readLines(connection, n = 1))) { # iteruj řádku po řádce
    line_strip <- unlist(strsplit(line, " ")) # rozděl řádku podle mezer
    
    data_row <- c() # vektor reprezentující jeden řádek v matici
    next_col <- T # indikátor, zda očekáváme nový sloupec (nová nezávislá proměnná)
    for (fragment in line_strip) { # iteruj přes jednotlivé nalezené fragmenty
        if (fragment != "" && next_col) {
            # nalezený fragment není prázdný řetězec a zároveň očekáváme nový sloupec
            
            data_row <- c(data_row, fragment) # přidej nové slovo na řádku v matici
            next_col <- F # nalezli jsme sloupec, takže tento fakt zaznamenáme
        } else if (fragment == "") {
            # nalezli jsme prázdý řetězec, což znamená úsek, 
            # kde byla v textové tabulce na řádce více než jedna mezera
            
            next_col <- T # očekáváme tedy nový sloupec
        } else if (fragment != "" && !next_col) {
            # nalezli jsme fragment, ale neočekáváme nový sloupec
            # jedná se tedy o fragment z jednoho sloupce
            
            # z řádku si tedy vezmeme poslední fragment
            previous_fragment <- data_row[length(data_row)]
            
            # a po spojení s předchozím tento celek přidáme jako nový poslední fragment
            data_row <- c(
                data_row[-(length(data_row))] # všechna data na řádce ale bez posledního fragmentu
                , paste(previous_fragment, fragment, sep = " ") # spojení posledního fragmentu s aktuálním
            )
        } else {
            stop("Sem bychom se neměli dostat. Pokud ano, něco nám uniklo.")
        }
    }
    
    # připoj aktuální řádek do matice
    m_ufocase <- rbind(m_ufocase, data_row)
}

close(connection) # zavři spojení

head(m_ufocase, 5) # ukaž prvních pět řádků z vytvořené matice

         [,1] [,2]                         [,3]   [,4] [,5] [,6] [,7]
data_row 1865 The Great Airships           USA    1    0    1    0
data_row 1878 Denison, Texas Daylight UFO  USA    0    0    0    0
data_row 1897 The Aurora, Texas Crash      USA    1    0    1    0
data_row 1930 Alien Picture from Alaska    Alaska 0    1    1    0
data_row 1937 Discovery of the Dropa Discs China  0    0    0    0

In [38]:
# row.names(m_ufocase) <- NULL
rownames(m_ufocase) <- NULL

In [39]:
df_ufocase <- data.frame(m_ufocase)
head(df_ufocase)

  X1   X2                                    X3     X4 X5 X6 X7
1 1865 The Great Airships                    USA    1  0  1  0
2 1878 Denison, Texas Daylight UFO           USA    0  0  0  0
3 1897 The Aurora, Texas Crash               USA    1  0  1  0
4 1930 Alien Picture from Alaska             Alaska 0  1  1  0
5 1937 Discovery of the Dropa Discs          China  0  0  0  0
6 1939 Alien Bodies Confirmed (Cordell Hull) USA    0  0  1  0

In [40]:
colnames(df_ufocase) <- c('Year', 'EventName', 'Location', 'PhysicalEffects', 'Multimedia', 'ETContact', 'Abduction')

In [41]:
df_ufocase$EventName <- as.character(df_ufocase$EventName)
head(df_ufocase)

  Year EventName                             Location PhysicalEffects
1 1865 The Great Airships                    USA      1
2 1878 Denison, Texas Daylight UFO           USA      0
3 1897 The Aurora, Texas Crash               USA      1
4 1930 Alien Picture from Alaska             Alaska   0
5 1937 Discovery of the Dropa Discs          China    0
6 1939 Alien Bodies Confirmed (Cordell Hull) USA      0
  Multimedia ETContact Abduction
1 0          1         0
2 0          0         0
3 0          1         0
4 1          1         0
5 0          0         0
6 0          1         0

In [42]:
write.table(df_ufocase, file = "ufocase.csv", sep = ",") # , row.names = F)

In [44]:
?read.table